$rowGap: 1.4rem;

.paymentSectionWrapper {
  margin-top: 3.2rem;
}

.paymentHeading {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
}

.paymentDescInfo {
  color: rgb(112, 112, 112);
  font-size: 1.4rem;
  font-weight: 400;
}

.loginLink {
  color: rgb(28, 27, 27);
  cursor: pointer;
}

.payNowBtn {
  
}