.shippingMethodHeading {
  margin: 0 0 1.4rem 0;
}

.selectAddressMsg {
  color: rgb(112, 112, 112);
  font-size: 14px;
  font-weight: 400;
  padding: 1.7rem;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}